nav {
  height: 60px;
  color: #FFFF;
  /* background-color: #4056A1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: visible;
}

#logo {
  font-family: 'Bungee';
  font-size: 1.5em;
}

#newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#newTweet > :hover {
  color: greenyellow
}

@keyframes arrowDown {
  from {padding-top: 0px;}
  to {padding-top: 10px;}
}
nav i {
  color: crimson;
  animation-name: arrowDown ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#newTweet span {
  font-weight: 600;
}
