section.new-tweet {
  display: flex;
  flex-direction: column;
  width: 96%;
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em;
}
textarea {
  background-color: inherit;
  height: 3em;
  width: 96%;
  outline: none;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: midnightblue;
  resize: none;
  margin: 0.5em;
}

#footer {
  display: flex;
  justify-content:space-between;
  font-family: Bungee;
  margin: 0.5em;

}
button {
  background-color: #4056A1;
  color: #FFFF;
}

#error-element {
  display: flex;
  color: tomato;
  justify-content:space-evenly;
  margin-top: 0.5em;
}