section.new-tweet {
  display: flex;
  flex-direction: column;
  width: 96%;
  font-weight: 600;
  padding: 0.5em;
  margin: 0.5em;
}
textarea {
  background-color: inherit;
  height: 3em;
  width: 96%;
  outline: none;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: midnightblue;
  resize: none;
  margin: 0.5em;
}

#footer {
  display: flex;
  justify-content:space-between;
  font-family: Bungee;
  margin: 0.5em;

}
button {
  background-color: #4056A1;
  color: #FFFF;
}

.error {
  color: tomato;
	background-color: #fbf1f1;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
  background-repeat: no-repeat;
  border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-position: 10px center;
	max-width:max-content;
}